.jumbotron {
  padding-top: 9rem;
  background-color: #1e6091;
  color: #ffffff;
}

body {
  min-height: 1500px;
}

section {
  padding-top: 5rem;
}
#about i {
  color: #1e6091;
}

#projects {
  background: #1e6091;
}

h2 {
  color: #1e6091;
}
#projects h2 {
  color: #ffffff;
}

footer {
  color: #ffffff;
  background-color: #184e77;
}

.skill p {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.skill img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact a {
  color: #1e6091;
}

.WMB a {
  color: #ffffff;
}
